@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, h1, h2, h3, h4, h5, h6, a{
    font-family: 'Montserrat';
}

.wrapper {
    max-width: 1550px;
    margin: auto;
    
}

.top-menu {
    color: #ffffff;
    padding: 1em;

}

nav {
    clear: both;
    background-color: #ffffff;
}

nav a{
	text-decoration: none;
    float: center;
    color: #000000;
    text-align: absolute;
    padding: 0px 10px;
    font-size: 20px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
	list-style-position: inside;
	font: 10px 'Oswald', sans-serif;
	padding: 4px;
    display: inline;
    color:black;
}

.left-links
{
    font:10px 'Oswald', sans-serif;
}

.right-links
{
    font:7px 'Oswald', sans-serif;
    float: right;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #fff0bd;
}

.about {
    margin: 1em 0;
    padding: 1em;
    position: relative;
    left: 1em;
}

.table {
    background-color: #ffffff;
}

.btn {
    background-color: #ffffff;
}
.btn-primary {
    background-color: #ffffff;
}

